.calling_option {
  width: 60px;
  cursor: pointer;

  .v-input__slot {
    box-shadow: none !important;
    border: none !important;
  }
  .v-input__slot {
    padding: 0 !important;
  }
  &.v-text-field.v-text-field--solo .v-input__control {
    min-height: 28px;
  }
  
}
.country_drop {
  &.v-text-field>.v-input__control>.v-input__slot>.v-text-field__slot {
    position: initial;
  }
  .v-select__slot {
    margin-bottom: 4px;
  }
}
